.Test {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: var(--color3);
  color: var(--color2);

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: var(--color2);
  }
}
