@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --color1: #191919;
  --color2: #ccd0cf;
  --color3: #111111;
  --color4: #4a5c6a;
  --color5: #253745;
  --color6: #11212d;
  --color7: #231e2d;
  --color8: #7c57cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Koblenz-Serial";
  font-weight: 400;
  font-style: none;
  text-decoration: none;
  transition: 0.3s;
}

@font-face {
  font-family: "Koblenz-Serial";
  src: url(../font/Koblenz-Serial-Bold.ttf);
}
