.wrapper {
  display: grid;
  grid-template-areas: "header main";
  width: 100%;
  grid-template-columns: 17rem 1fr;
  grid-template-rows: 1fr;

  .header {
    grid-area: header;
    width: 100%;
  }

  .main {
    grid-area: main;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    display: grid;
    grid-template-areas:
      "header header"
      "main main";
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;

    .header {
      grid-area: header;
      width: 100%;
    }

    .main {
      grid-area: main;
      width: 100%;
    }
  }
}
